/* This css is meant for View Proposal ONLY */

@use './mixins' as *;

#view-proposal {
  .pdf-page {
    @include pdf_page;
  }
  .pdf-title {
    @include pdf_title;
  }
  table {
    @include pdf_table;
  }

  // Equipments Page {proposal_equipments}
  .equipments-page {
    table.product-details {
      width: 100%;
      border-collapse: collapse;
      tr td {
        padding: 5px 10px;
        border: 1px solid #ccc;
      }
    }
    div.product-description {
      margin-top: 50px;
    }
  }

  // Equipments Page (the customizable one)
  .demo-product-page {
    div.product-specs {
      table.product-details {
        width: 100%;
        border-collapse: collapse;
        tr td {
          padding: 5px 10px;
          border: 1px solid #ccc;
        }
      }
    }
  }

  // Summary Table
  .summary-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    overflow: hidden;
    th {
      padding: 10px 10px;
      border: 1px solid #e0e0e0;
    }
    td {
      padding: 10px 10px;
      border: 1px solid #e0e0e0;
      vertical-align: middle;
      .mdi {
        font-size: 16px;
        margin-right: 2px;
      }
      & ul {
        padding-left: 15px;
      }
      &.cost-column {
        text-transform: capitalize;
        text-align: right;
        padding: 5px;
        p {
          font-size: 14px;
          margin: 0;
        }
        small {
          font-weight: normal;
          margin: 0;
        }
      }
    }
    thead {
      background-color: #f5f5f5;
      color: #424242;
      font-weight: 500;
    }
    tfoot {
      border-top: 1px solid #e0e0e0;
      tr.selected {
        background: #f5f5f5;
      }
    }
    tbody {
      tr:hover {
        background-color: #f0f0f0;
        transition: background-color 0.2s ease;
      }
      tr:last-child td {
        border-bottom: none;
      }
    }
  }
  .accepted-proposal-table {
    min-width: 400px;
    border-collapse: collapse;
    font-size: 14px;
    overflow: hidden;
    @media(max-width: 500px) {
      min-width: unset;
      width: 100%;
    }
    th,
    td {
      padding: 10px 10px;
      background: rgba(0, 131, 71, 0.1);
      border: 1px solid rgba(0, 76, 43, 0.15);
    }
  }
  .accept-proposal-btn {
    background: var(--partner-brand-color);
    font-weight: normal !important;
  }
}